*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background: #000;
    overflow: hidden;
}
i{
    position: absolute;
    width: 10px;
    height: 200px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background: linear-gradient(45deg, #d0150c, transparent);
    animation: animColorFulRain 5s linear infinite;
}
i:nth-child(3n+1){
    background: linear-gradient(45deg, #d0150c, transparent);
}
i:nth-child(3n+2){
    background: linear-gradient(45deg, #5c13ae, transparent);
}
i:nth-child(3n+1){
    background: linear-gradient(45deg, #00ff62, transparent);
}
@keyframes animColorFulRain{
    0%{
        filter: hue-rotate(0deg);
        transform: translateY(-200px);
    }
    100%{
        filter: hue-rotate(360deg);
        transform: translateY(calc(100vh + 200px));
    }
}
